/* TO DO : CSSnya masih ada di dalem satu file, mungkin ntar dipisah */
/* Gapake Bootstrap, karena bodoh harusnya dari awal pakenya dan bootstrapnya nge override ini :) */
/* Agak berantakan tapi gapapa ya */

:root {
  max-width: 1280px !important;
  margin: 0 auto;
  text-align: center !important;
  font-weight: 400;
  color-scheme: light dark !important;
  background-color: #ffffff !important;
  font-synthesis: none !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
}

* {
  font-family: Lexend;
  color: #002E73;
  line-height: 1.5;
}

img {
  width: 200px ;
}

a {
  font-weight: 500;
  color: #002E73;
  text-decoration: inherit !important;
}
a:hover {
  font-weight: 1000 !important;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Flexbox doesnt work and i dont know wht
there's probanly a better way to do this but idk
how :)
*/

/* uhhh maybe this works idk man */


.dashboard{
  background-color: #E4F1FF;
  padding: 10px;
  overflow: auto;
}

.dashboard-content{
  float: left;
}

.web-name{
  font-weight: 1000;  
  float:right; 
}

.banner-container{
  position: relative;
}

.banner-img{
  width:100%;
  height: 200px;
  object-fit: cover;
  filter: brightness(45%);
  /* -webkit-filter: blur(3px); */
} 

.store-head{
  background-color: #002E73;
  text-align:right;
  padding: 5px 10px 5px 0px;
  border-radius: 5px;
  color: #ffffff;
}

.store-name{
  color:#ffffff;
  font-size: 50px;
  font-weight: 1000;
  position:absolute;
  margin-right: 10px;
  bottom: 8px;
  right: 10px;
}

.store-link{
  margin-right: 15px;
}

/*TODO : Ganti Nama jadi Container aja, ini dipake dimana mana */
.menu-container{
  margin: 10px 20px 20px 20px;
  display: table;
}

.menu-box{
  display: inline-table;
  margin: 0px 0px 10px 10px;
  background-color: #E4F1FF;
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.menu-box img{
  width: 200px;
  border-radius: 10%;
  box-shadow: 0px 5px 5px  #c1c2ec;
  transition: transform 0.3s ease-in-out;
}

.menu-box img:hover{
  transform: scale(1.1);
}

.menu-box p{
  margin: 0px;
}

.menu-title{
  font-weight: 1000;
  font-size: 20px;
}

.circle {
  background-color: #E4F1FF;
  width: 500px;
  aspect-ratio: 1 / 1;
  border-radius: 50% 50%;
  position : absolute;
  top : -50%; 
  left:0; 
  right:0; 
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

h1 {
  position: relative;
  margin: 0px 0px 10px 0px; 
  font-size: 50px;
  font-weight: 1000;
  z-index: 2;
}

h2 {
  position: relative;
  font-weight: 100;
  margin: 50px 0px 0px 0px; 
  z-index: 2;
}

.container{
  margin-top: 100px;

}

.store-box{
  border: solid #002E73 2px;
  border-radius: 10px;
  margin : 10px; 
  width: 250px;
  display: inline-table;
  padding-bottom: 10px;
}

.store-description {
  margin: 0px;
}

.nav {
  display: block;
  font-size: 25px;
  font-weight: 1000 !important;
}

.btn-custom{
  background-color: #002E73;
  border: 0px;
  margin: 5px 10px 20px 10px;
  position: relative;
  z-index: 3;
}

.btn-custom:hover{
  background-color: #0043a8;
  scale: 1.1;
}

.form-header{
  background-color: #E4F1FF;
  padding: 5px;
  margin-bottom: 30px;
}

.modal-modify{
  position: absolute;
  left:0; 
  right:0; 
  width: 500px;
  margin: auto;
  top:50%; 
  background-color: #ffffff;
  border: solid 3px #002E73;
  border-radius: 10px;
  z-index: 9;
}