
:root {
  font-family: Lexend;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #002E73;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #002E73;
  text-decoration: inherit;
}
a:hover {
  font-weight: 1000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Flexbox doesnt work and i dont know wht
there's probanly a better way to do this but idk
how :)
*/

/* uhhh maybe this works idk man */


.dashboard{
  background-color: #E4F1FF;
  padding: 10px;
  overflow: auto;
}

.dashboard-content{
  float: left;
}

.web-name{
  font-weight: 1000;  
  float:right; 
}

.banner-container{
  position: relative;
}

.banner-img{
  width:100%;
  height: 200px;
  object-fit: cover;
  filter: brightness(45%);
  /* -webkit-filter: blur(3px); */
} 


.store-name{
  color:#ffffff;
  font-size: 50px;
  font-weight: 1000;
  position:absolute;
  bottom: 8px;
  right: 10px;
}

.menu-container{
  margin: 10px 20px 20px 20px;
  display: table;
}

.menu-box{
  display: inline-table;
  margin: 0px 0px 10px 10px;
  background-color: #E4F1FF;
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.menu-box img{
  width: 200px;
  border-radius: 10%;
  box-shadow: 0px 5px 5px  #c1c2ec;
  transition: transform 0.3s ease-in-out;
}

.menu-box img:hover{
  transform: scale(1.1);
}

.menu-box p{
  margin: 0px;
}
