:root {
  font-family: Lexend;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #535bf2;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  font-weight: 700;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Flexbox doesnt work and i dont know wht
there's probanly a better way to do this but idk
how :)
*/

/* uhhh maybe this works idk man */

.dashboard{
  background-color: #d4d9fd;
  padding: 10px;
  overflow: auto;
}

.dashboard-content{
  margin:10px;
  float: left;
  /* border: solid 2px black; */
}

.web-name{
  margin:10px;
  font-weight: 1000;  
  /* border: solid 2px black; */
  float:right; 
}

.banner{
  width:100%;
  height: 200px;
  object-fit: cover;
  filter: brightness(50%);
}